<!DOCTYPE html>
<html>

<head>
    <title>Confirmation Email</title>
</head>

<body>
<div>
    <h3>Dear {{name}},</h3>
    <p>To confirm your email please click in this link <a href="{{url}}">link</a></p>
    <br>
    <p>Cheers!</p>
</div>

</body>

</html>