<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
<div>
    <h3>Dear {{name}},</h3>
    <p>Here is your new password: {{password}}</p>
    <br>
    <p>Please change it as soon as possible!</p>
    <br>
    <p>Cheers!</p>
</div>

</body>

</html>